@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (max-width: 768px) {
  .tag-button,
  .tag-button-dropdown {
    font-size: 0.9rem; /* Adjust text size */
    padding: 0.4em 0.8em; /* Adjust padding */
  }

  button {
    font-size: 0.9rem;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-menu-title-content {
  color: black;
}

.ant-menu-item-icon {
  color: black !important;
}

.ant-btn {
  color: black !important;
}

.ant-tabs-ink-bar-animated {
  background-color: #4abe87 !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
  color: #4abe87 !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #4abe87 !important;
}

.ant-tabs .ant-tabs-tab:hover {
  color: #e8f5ea !important;
}
.ant-btn-variant-solid {
  color: #000000 !important;
  background-color: #4abe87 !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4abe87 !important;
  /* Color del fondo verde */
  border-color: #4abe87 !important;
  /* Borde del cuadro en verde */
}

.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #4abe87 !important;
  /* Borde al pasar el cursor */
}
.volunteer-button {
  color: #eff2f4 !important;
  background-color: #1890ff !important;
}
.ant-layout-sider-children {
  background-color: #e8f5ea !important;
}

.ant-menu {
  background-color: #e8f5ea !important;
}
.ant-menu-item ant-menu-item-active {
  background-color: #4abe87 !important;
}
.ant-menu-item-selected {
  background-color: #4abe87 !important;
}

.tag-button {
  display: inline-block;
  text-align: center;
  color: black;
  background-color: white !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9rem !important;
  padding: 0.4em 0.5em !important;
}

.tag-button.selected {
  color: white;
  background-color: #4abe87 !important;
}

.tag-button-dropdown {
  display: block !important;
  text-align: center;
  color: black;
  background-color: white !important;
  margin: 4px 4px 4px 4px !important;
  font-size: 0.9rem !important;
  padding: 0.4em 0.5em !important;
}

.tag-button-dropdown:hover {
  color: #000000 !important;
}

.tag-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  color: #000000 !important;
}

.tag-button-dropdown.selected {
  color: white;
  background-color: #4abe87 !important;
}
