@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.ant-menu-title-content{
  color:black; 
}

.ant-menu-item-icon{
  color: black !important;
}
.ant-btn{
  color: black !important;
} 

.ant-tabs-ink-bar-animated{
  background-color: #4abe87 !important;
}
.ant-tabs-tab.ant-tabs-tab-active{
  color: #4abe87 !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #4abe87 !important;
  }
  .ant-tabs .ant-tabs-tab:hover{
    color: #cce4e9 !important;
  }